<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/thymeleaf/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/thymeleaf/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/thymeleaf/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/thymeleaf/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/thymeleaf/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/thymeleaf/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/thymeleaf/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/thymeleaf/js/common.js}"></script>
</head>

<body>

<div class="panel panel-default">
    <div class="panel-heading">订单中心</div>
    <div  class="panel-heading">
        <button onclick="toGoodsList()">商品列表</button>
        <button onclick="messageCenter()">消息中心</button>
        <input id="userid" th:value="${user.id}"></input>
    </div>　　
    <table class="table" id="orderList">
        <tr><td>商品名称</td><td>商品图片</td><td>商品原价</td><td>订单价格</td><td>下单时间</td><td>订单状态</td></tr>
        <tr  th:each="orderVo,orderStat : ${orderList}">
            <td th:text="${orderVo.goods.goodsName}"></td>
            <td ><img th:src="@{${orderVo.goods.goodsImg}}" width="100" height="100" /></td>
            <td th:text="${orderVo.goods.goodsPrice}"></td>
            <td th:text="${orderVo.goods.miaoshaPrice}"></td>
            <td th:text="${orderVo.order.createDate}"></td>
            <td th:text="${orderVo.order.status}"></td>
            　　　　　 <td><a th:href="'/order_detail.htm?orderId='+${orderVo.order.id}+'&userId='+${user.id}"}>详情</a></td>　　
        </tr>
    </table>
</div>
</body>

<script>
    function messageCenter() {
        var userid = $("#userid").val();
        window.location.href='/message/list?userid='+userid;
    }

    function toGoodsList() {
        window.location.href="/goods/to_list";
    }

</script>
</html>
